header {
 background: white;
 padding-top: 20px;
 text-align: center;
 margin
}

body {
    margin: 0;
    background-color: #42b0f4;
    
}

#change { 
    background-color: lightgrey;
    border: solid;
    border-color: #333;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
    font-size: 3;
}


#bears{
    font-family: "roboto";
    text-align: center;
}

img {
    position: relative;
    height:400px;
    width: 600px;
    float: right;
    border-radius: 15px;
    right: 10px;
    border: 2px solid black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: arial;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

footer {
  font-size: 12px;
  padding: 50px 0;
  background-color: black; 
  color: white;
  margin: 0 auto; 
  width: 1670px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

footer {
  font-size: 12px;
  padding: 50px 0;
  background-color: black; 
  color: white;
  margin: 0 auto; 
  width: 1530px;
  margin-top: 500px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

h1, h2 {
font-family:  "orbitron";
}