body{
 background:#107ECC; 
 margin: 0; 
}

header{
 background: white; 
 width: 100%; 
 height: 90px; 4
}

#change{ 
  margin-top: 0; 
  margin-left: 50px; 
  font-family: 'Sonsie One', cursive;
  padding-top: 20px; 
}

nav, li{ 
  display: inline;  
  float: right; 
  margin-top: 8px; 
  padding-right: 20px; 
  Font-size: 20px; 
  font-family: 'Oswald', sans-serif;

}

a {
  text-decoration: none; 
  color: black;
}

a:hover{
  color: lightblue; 
}
nav, li: hover{
 color: lightgreen; 
}

li a: visited{ 
text-decoration: none; 
color: black; 
}
#what{ 
  text-align: center;
  margin-left: 30px;
  font-family: 'Anton', sans-serif;
 
}
#how{ 
  text-align: center;
  margin-left: 30px;
  font-family: 'Anton', sans-serif;
 
}
#ex1{ 
  text-align:Center;
  margin-left: 300px; 
  margin-right: 300px; 
  font-family: 'Oswald', sans-serif;
  
  
}

#polar{
height: 250px; 
width: 250px; 

}

footer {
 margin-bottom: -50px; 
  font-size: 12px;
  padding: 40px 0;
  background-color: black;
  border-radius:    5px;
  clear: both;
}

footer .col-sm-8 {
  margin: 0; 
  display: flex;
  justify-content: flex-end;
}

footer ul {
  margin: 0; 
  list-style: none;
}

footer li img {
  margin: 0; 
  width: 32px;
  height: 32px;
}

.images img {
  padding-bottom: 50px; 
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  height: 100px;
  width: 200px; 
  float: left;
}

#cars{
    margin-left: 460px;
  margin-bottom: 30px; 
}

#fun{
 margin-left: 100px;
}

.row p{
  color:white;
  margin-left: 50px;
}